@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;500&display=swap');

@font-face {
    font-family: 'HealTheWebA-Regular';
    src: url('/fonts/HealTheWebA-Regular.otf') format('otf');
    src: url('/fonts/HealTheWebA-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HealTheWebB-Regular';
    src: url('/fonts/HealTheWebB-Regular.otf') format('otf');
    src: url('/fonts/HealTheWebB-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

html {
    height: -webkit-fill-available;
  }

body {
    font-family: 'Roboto Mono', monospace;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 1;
    letter-spacing: 0.01em;
    text-transform: uppercase;

    min-height: 100vh;
    min-height: -webkit-fill-available;
}


a:hover {
    font-weight: 500;
}

h2 {
    font-family: 'HealTheWebB-Regular', 'sans-serif';
}