---
import BaseLayout from '../layouts/baseLayout.astro';
const pageTitle = "Maxime Mondet - Info";
---
<BaseLayout pageTitle={pageTitle}>
  <p class="px-20">After his studies in graphic design and multimedia project management, he started a career as a graphic designer in Paris. Over the years, he has developed various skills related to multimedia and digital. More recently, he has finished his studies in Web Development at the Le Wagon school. He joined LLOS& team in 2022.</p>
</BaseLayout>