---
---

<footer
  class="fixed h-16 w-full text-center flex items-center justify-center bottom-0 right-0 p-4 mix-blend-difference z-10"
>
  <nav class="">
    <a href="/info">info</a>
  </nav>
</footer>
