---


---
<header class="">
    <div class="container">
      <a class="logo" href="/">
        Maxime Mondet
      </a>
      <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
      </nav>
    </div>
</header>
<img class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2" src="maximemondet.svg" alt="Maxime Mondet">