---
let title = 'Maxime Mondet'

export async function getStaticPaths() {
  const posts = await useSanityClient().fetch(`*[_type == "post"]`)

  const paths = posts.map(async (post) => {
    title = post.slug?.current === '' ? 'Back' : 'Maxime Mondet'

    return {
      params: {
        slug: post.slug?.current || '',
      },
      props: { ...post, videos, credits },
    }
  })

  return Promise.all(paths)
}
---

<header
  class="fixed w-full h-16 text-center flex items-center justify-center top-1/2 -translate-y-1/2 md:bottom-0 left-0 p-4 mix-blend-difference pointer-events-auto z-20"
>
  <div class="container">
    <a class="logo" href="/">{title}</a>
  </div>
</header>

<img
  class="fixed top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -z-10"
  src="maximemondet.svg"
  alt="Maxime Mondet"
/>
