---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";
import '../styles/global.css';

const { pageTitle } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body class="w-screen h-screen bg-slate-950 text-white m-0 p-0">
        <main class="w-full h-full container mx-auto text-center flex items-center justify-center">
            <Header />
				<div class="w-full">
					<h2 class="hidden">{pageTitle}</h2>
					<slot /> <!-- your content is injected here -->
				</div>
			<Footer />
        </main>
	</body>
</html>
